body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}
//header
.App-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  background-color: #ffcc00;
  width: 100%;
  .Directory {
    display: flex;
    justify-content: flex-end;
  }
}
//Main landing page

.App-intro {
  display: flex;
  flex-direction: row;

  .left-box {
    border: solid black 1px;
    padding: 2px;
    margin: 2px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 750px;
    height: 100%;
    width: 50%;
  }
  .right-box {
    border: solid black 1px;
    padding: 2px;
    margin: 2px;
    flex-direction: row;
    align-items: stretch;
    min-height: 750px;
    height: 100%;
    width: 50%;

    .photo {
      display: flex;
      flex-wrap: nowrap;
      max-width: 100%;

      .renderedPics {
        display: flex;
        flex: 4;
        flex-wrap: nowrap;
        max-width: 100%;
        height: 100vh;
        width: 150vh;
        border: 1px solid red;
      }
      .gallery {
        display: flex;
        border: 1px solid red;
        height: 25px;
      }
    }
  }
}

//footer
.footer {
  background: #4f553c;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start space-between;
  height: 155px;
  width: 100%;
  color: white;
  align-content: stretch;
}
.locationData {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.displaydata {
  justify-content: center;
  align-content: center;
}
.inputData {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.dateTrailhead {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
}

.btn {
  display: flex;
  align-items: flex-end;
}
.button {
  align-items: flex-end;
}
